*{
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f6f6f6;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  